$bismark : #4A6881;
$bismark-light : #5c778d;
$bismark-dark : #425d74;
$mandy : #DF5160;
$mandy-light : #e2626f;
$mandy-dark : #c84856;
$tiarra : #C6CECC;
$tiarra-light : #cbd2d1;
$tiarra-dark : #b2b9b7;
$tradewind : #5AB2B5;
$tradewind-light : #6ab9bc;
$tradewind-dark : #51a0a2;
$regal : #1E3B4B;
$regal-light : #344e5d;
$regal-dark : #1b3543;
$gray : #222;
$gray-light : #333;


* {
    box-sizing: border-box;
}

html,body {
    height: 100%;
    font-size: 14px;
}

body {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background: #191919;
    color: white;
    font-family: 'Open Sans', sans-serif;
    background: #45484d; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #45484d 0%, #000000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #45484d 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #45484d 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p {
    font-size: 14px;
}

h1 {
    font-size: 21px;
}

h2 {
    font-size: 19px;
}

h3 {
    font-size: 17px;
}

h4 {
    font-size: 14px;
}

h5 {
    font-size: 12px;
}

h6 {
    font-size: 10px;
}

.pattern {
    margin: 0 auto;
    max-width: 700px;

    .pattern-example {
        margin: 0 0 40px 0
    }
}

.color-example-container {
    margin: 0 0 15px 0;
}

.color-example {
    padding: 5px;
    width: 50%;
    text-indent: 60%;
    white-space: nowrap;
}

.bismark {
    background: $bismark;
    color: $bismark;

    &-light {
        background: $bismark-light;
        color: $bismark-light;
    }

    &-dark {
        background: $bismark-dark;
        color: $bismark-dark;
    }
}

.mandy {
    background: $mandy;
    color: $mandy;

    &-light {
        background: $mandy-light;
        color: $mandy-light;
    }

    &-dark {
        background: $mandy-dark;
        color: $mandy-dark;
    }
}

.tiarra {
    background: $tiarra;
    color: $tiarra;

    &-light {
        background: $tiarra-light;
        color: $tiarra-light;
    }

    &-dark {
        background: $tiarra-dark;
        color: $tiarra-dark;
    }
}

.tradewind {
    background: $tradewind;
    color: $tradewind;

    &-light {
        background: $tradewind-light;
        color: $tradewind-light;
    }

    &-dark {
        background: $tradewind-dark;
        color: $tradewind-dark;
    }
}

.regal {
    background: $regal;
    color: $regal;

    &-light {
        background: $regal-light;
        color: $regal-light;
    }

    &-dark {
        background: $regal-dark;
        color: $regal-dark;
    }
}

.font-example {
    margin: 0 0 35px 0;

    .font-example-block-types {
        padding: 10px 20px;
        margin: 3px 0px;
        display: inline-table;
        background-color: $gray;
    }
}

.size-300 {
    font-weight: 300;

    &i {
        font-style: italic;
    }
}

.size-400 {
    font-weight: 400;

    &i {
        font-style: italic;
    }
}

.size-600 {
    font-weight: 600;
}

.size-700 {
    font-weight: 700;

    &i {
        font-style: italic;
    }
}

.size-800 {
    font-weight: 800;
}

button {
    max-width: 100%;
    border: 0;
    font-family: inherit;
    font-style: inherit;
    font-variant: inherit;
    line-height: 1;
    text-transform: none;
    cursor: pointer;
    -webkit-appearance: button;
}

.button {
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    z-index: 0;
    display: inline-block;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: none;
    white-space: nowrap;
    cursor: pointer;
    vertical-align: top;
    vertical-align: -webkit-baseline-middle;
    transition: background-color, opacity 100ms linear;
    -webkit-font-kerning: none;
    font-kerning: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    contain: content;

    &-ios {
        margin: 5px 2.5px;
        padding: 0 22px;
        height: 35px;
        border-radius: 4px;
        font-size: 20px;
        color: #fff;
        background-color: $tradewind-light;

        &--light {
            color: $gray-light;
            background-color: $tiarra;
        }

        &--secondary {
            background-color: $mandy;
        }
    }

    &-outline-ios {
        border-width: 1px;
        border-style: solid;
        border-radius: 4px;
        border-color: $tradewind;
        color: $tradewind;
        background-color: transparent;

        &--light {
            border-color: $tiarra;
            color: $tiarra;
            background-color: transparent;
        }

        &--secondary {
            border-color: $mandy;
            color: $mandy;
            background-color: transparent;
        }
    }

    &-md {
        overflow: hidden;
        margin: 5px 2.5px;
        padding: 0 22px;
        height: 35px;
        border-radius: 2px;
        font-size: 1.4rem;
        font-weight: 500;
        text-transform: uppercase;
        color: #fff;
        background-color: $tradewind;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);

        &--light {
            color: $gray-light;
            background-color: $tiarra;
        }

        &--secondary {
            background-color: $mandy;
        }
    }

    &-outline-md {
        border-width: 1px;
        border-style: solid;
        border-color: $tradewind;
        color: $tradewind;
        background-color: transparent;
        box-shadow: none;

        &--light {
            border-color: $tiarra;
            color: $tiarra;
            background-color: transparent;
        }

        &--secondary {
            border-color: $mandy;
            color: $mandy;
            background-color: transparent;
        }
    }
}

.avatar {
    margin: 8px;
    display: block;
    line-height: 1;
    height: 75px;
    width: 75px;

    img {
        height: 75px;
        width: 75px;
        border-radius: 50%;
        overflow: hidden;
    }

    &--squared {
        border-radius: 5px;

        img {
            border-radius: 5px;
        }
    }

    &--small {
        height: 50px;
        width: 50px;

        img {
            height: 50px;
            width: 50px;
        }
    }

    &--tiny {
        height: 36px;
        width: 36px;

        img {
            height: 36px;
            width: 36px;
        }
    }
}

.profile-image-example-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.profile-example-container-outer {
    display: flex;
    justify-content: space-around;

    .profile-example-container {
        width: 325px;
        height: 600px;

        background: $mandy-light; /* Old browsers */
        background: -moz-linear-gradient(-45deg,  $mandy-light 0%, $bismark-light 74%, $bismark-light 74%, $bismark 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg,  $mandy-light 0%,$bismark-light 74%,$bismark-light 74%,$bismark 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg,  $mandy-light 0%,$bismark-light 74%,$bismark-light 74%,$bismark 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$mandy-light', endColorstr='$bismark',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

        border-style: solid;
        border-color: black;
        border-width: 20px 10px 20px 10px;
        border-radius: 10px;
        overflow: hidden;
    }
}

.profile-block {
    text-align: center;
    padding: 30px 0 0 0;
    background-color: $gray;

    .profile-block-content {
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        & .avatar {
            margin: 8px 16px 8px 0;
        }

        & div {
            text-align: left;

            & * {
                margin: 0;
            }
        } 
    }

    .button {
        width: 70%;
        margin-top: 15px;
    }

    &::after {
        position: relative;
        float: left;
        content: " ";
        display: block;
        left: -5%;
        bottom: 0px;
        /* transform: rotate(2deg); */
        width: 110%;
        height: 30px;
        background-color: $gray;
        border-bottom: 10px solid $gray;
        border-bottom-right-radius: 100%;
        border-bottom-left-radius: 100%;
    }

    &--light {
        background-color: $regal;

        &::after {
            background-color: $regal;
            border-bottom: 10px solid $regal;
        }
    }
}

.code-block {
    border: 2px solid;
    border-radius: 3px;
    border-color: #111;
    background-color: $gray;
    width: 100%;
    font-size: 12px;
    overflow: scroll;
    max-height: 200px;
    padding: 10px;
    font-family: Menlo,Monaco,'Courier New',Courier,monospace;
    display: none;
    margin: 20px 0;
}

.show-code {
    float: right;
    background-color: $mandy;
    padding: 3px 5px;
    border-radius: 3px;
    cursor: pointer;

    &:hover {
        background-color: $mandy-light;
    }
}


















